<nav class=" header navbar navbar-light bg-light ">
    <div>
        <img id="logo" class="logo" src="/images/train.png">
        <span id="ticketac">Ticketac</span>
    </div>
    <div class="justify-content-end">
        <a id="connection" class="" href="/logout">Connection</a>
        <a id="mylasttrip" class="" href="/lastTrips">My Last Trips</a>
    </div>
</nav> 