<nav class=" header navbar navbar-light bg-light ">
    <div>
        <a href="/home"><img id="logo" class="logo ml-3" src="/images/train.png"></a>
        <a id="ticketac" href="/home" style="color : black">Ticketac</a>
    </div>
    <div class="justify-content-end">
        <a id="connection" class="" href="/logout">Connection</a>
        <a id="mylasttrip" class="" href="/lastTrips">My Last Trips</a>
    </div>
</nav>