body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100vw;
    background: -webkit-linear-gradient(top, #cee6ff 1%, #75b5f4 50%, #4096ee 100%);
    /* Chrome10-25,Safari5.1-6 */
}


/* CSS HOMEPAGE */

img {
    height: 300px;
}

#logo {
    height: 20px;
    margin: 5px;
}

#ticketac {
    font-weight: bold;
}

#connection {
    font-weight: bold;
    margin-right: 30px;
    color: red;
}

#mylasttrip {
    font-weight: bold;
    margin-right: 20px;
    color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landmark {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.row {
    width: 100%;
    margin-top: 40px;
}

#fromx {
    margin-right: 15px;
}

#tox {
    margin-right: 25px;
}

#oneway {
    color: white;
    font-size: 25px;
}

#oops {
    color: white;
    font-size: 25px;
    padding-top: 40px;
}


/* CSS LOGIN PAGE */


/*result*/

.card-text {
    padding: 0 50px;
    vertical-align: center;
}

.btn {
    margin-left: auto;
}

input::first-letter {
    text-transform: uppercase;
}